.contenedor-testimonio {
    width: 900px;
    height: 300px;
    margin: 10px 10px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 10px 10px 13px 0px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
}

.imagen-testimonio {
    max-width: 85%;
    max-height: 85%;
    padding: 20px;
    border-radius: 1.5rem;
    
}

.contenedor-texto-testimonio {
    text-align: center;
    padding: 40px;
    font-family: "Cabin", sans-serif;
    font-weight: 100;
    line-height: 1.5rem;
}

.nommbre.testimonio {
    font-size: 1.3rem;
}

.rol-testimonio {
    font-size: 1rem;
    margin-top: 15px;
    padding-bottom: 30px;
}

.texto-testimonio {
    font-size: 1rem;
    text-align: justify;
}